body {
    font-family: 'Odibbe Sans', Helvetica, sans-serif;
    margin: 1px;
}
h1,h2,h3,h4 {
    font-family: 'Inconsolata', Helvetica, sans-serif;
    font-weight: normal;
}
.hero {
    height: 300px;
    /*background-image: url('Images/mario6.png');*/
    background-color: #4AB3ED;
    /*background-size: 500px 300px;*/
    /*background-repeat: no-repeat;*/
    /*background-position-x: right;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ol,ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

figure{
    margin: 0;
}

h1 {
    color: #9B4E36;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -.2px;
    margin: 0 10px;
}

h2{
    color: #9B4E36;
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Inconsolata', Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 40px;
}

h1 strong{
    color: #9B4E36 
}

.portfolio{
    padding: 20px;
}

.project{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    background: #F8F8F8;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project strong{
    font-family: 'Inconsolata', Helvetica, sans-serif;
}

.project-title{
    font-size: 20px;
    margin-top: 0%;
    margin-bottom: 10px;
    font-weight: bold;
}

.project-curse, project-date, project-url{
    margin: 10px 0;
}

.project-description{
    font-size: 18px;
}

.project-details {
    width: 500px;
}

.header {
    background-color: #4AB3ED;
    display: flex;
    justify-content: space-between;
    height: 120px;
    align-items: center;
}

.header a {
    color: #F8F8F8;
    text-decoration: none;
    display: flex;
    height: inherit;
    padding: 0 10px;
    align-items: center;
}

.menu{
    height: inherit;
}

.header ol{
    display: flex;
    height: inherit;
}

.header ol li{
    height: inherit;
}

.flexbox{
    display: flex;
    flex-wrap: wrap;
}

.footer{
    color: greenyellow;
    display: flex;
    background-color: #0067A4;
    height: auto;
    align-items: center;
    justify-content: space-between; 
}

.footer img{
    height: 60px;
    vertical-align: middle;
}

.footer a{
    color: greenyellow;
    text-decoration: none;
}

.event-experience{
    margin: 0;
}

.event-list{
    display: flex;
    flex-wrap: wrap;
}

.event{
    border: 1px solid black;
    margin: 20px 10px;
    width: 420px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background-color: paleturquoise;
}

.event img{
    width: 420px;
    height: 200px;
    object-fit: cover;
}

.event-detail{
    margin: 20px 40px;
    margin-top: -10px;
    position: relative;
    padding: 20px;
    text-align: center;
    background: #F8F8F8;
    border-radius: 5px;
}

.event-description{
    text-align: left;
}

.event-url{
    color: #9B4E36;
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 2px;
}

.contact{
    background-color: white;
    color: black;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social{
}

.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;
}

.social-link.twitter{
    background-image: url('Images/twitter.png');
}
.social-link.facebook{
    background-image: url('Images/facebook.png');
}

.social-link.github{
    background-image: url('Images/github.png');
}

.social-link.instagram{
    background-image: url('Images/instagram.png');
}

.form-email input{
    border-color: #4AB3ED;
    border-style: solid;
    border-radius: 10px;
    padding: 5px 20px 5px 25px;
    background-image: url('Images/icono.png');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form-email button{
    display: block;
    margin-top: 10px;
    background: transparent;
    color: black;
    padding: 5px 0;
    border-radius: 10px;
    width: 100px;
    margin-top: 10px;
}

.container{
    width: 900px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}